.env
venv/
vectorstore/
vectorstore1/
projectdata/
processed_data/
projectdata\cowrie.json.2025-08-11
projectdata\cowrie.json.2025-08-12
projectdata\cowrie.json.2025-08-13
projectdata\cowrie.json.2025-08-14
processed_data\cowrie_events_20250815_190218.parquet
processed_data\cowrie_events_20250815_190922.parquet
processed_data\cowrie_events_20250815_192040.parquet
vectorstore2/
vectorstore3/
vectorstore4/
vectorstore5/
ourdata/
our_processed_data/
processed_data/
projectdata/